<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.coderpwh.eduservice.mapper.EduCourseMapper">
    <select id="getPublicCourseInfo" resultType="com.coderpwh.eduservice.entity.vo.CoursePublicVo">
        select ec.title,
               ec.price,
               ec.lesson_num,
               ec.cover,
               et.name as teacherName,
               et.avatar,
               es1.title as subjectParent,
               es2.title as subject
        from guli.edu_course ec
                 left join guli.edu_course_description ecd
                           on ec.id = ecd.id
                 left join guli.edu_teacher et
                           on ec.teacher_id = et.id
                 left join guli.edu_subject es1
                           on es1.id = ec.subject_parent_id
                 left join guli.edu_subject es2
                           on es2.id = ec.subject_id
        where ec.id = #{id};


    </select>
</mapper>
